



body {
    background-color: rgb(21, 21, 21);
    
}




.textarea_for_adding_post {
    background-color: black;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.582);
    height: auto;
    font-family: monospace;
    width: 80%;
}



#header_label {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: monospace;
    padding: 20px;
    background-color: rgb(20, 20, 20);
    border-radius: 2px;
}


textarea {
    resize: none;
    background-color: rgb(20, 20, 20);

    color: rgb(225, 225, 225);
    transition-duration: 0.5s;
    cursor: pointer;

    border-radius: 3px;

}
textarea:focus {
    box-shadow: 0px 0 10px 1px rgb(3, 218, 197);
    outline: none
}
  

textarea::-webkit-scrollbar {
    width: 10px;
  
}
textarea::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.705);
   
}
textarea::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
}


#post_title {

    padding: 10px;
    width: 90%;
    height: 58px;
    margin-top: 0px;
    margin-bottom: 20px;

    /* box-shadow: 0px 0px 11px 5px rgb(0, 0, 0); */
    border: 2px solid rgb(3, 218, 197);

    font-size: 24px;
}

/* textarea:focus {
   outline: rgb(24, 24, 24) solid 3px;
   box-shadow: 2px 2px 10px 10px rgb(16, 16, 16); */
 


#post_content {
    padding: 10px;
    width: 90%;
    height: 300px;
    font-size: 18px;
    margin-bottom: 5px;
    
    border: 2px solid rgb(3, 218, 197);

}

#btn_send {
    transition-duration: 1s;
    margin-left: 0%;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 80%;
    height: 30px;
    color: rgb(224, 224, 224);
    background-color: rgb(0, 0, 0);
    

    border: 2px solid rgba(69, 205, 6, 0.582);
    border-radius: 2px;
}

#btn_send:hover {
    color: aliceblue;
    background-color: rgba(69, 205, 6, 0.582);
    box-shadow: 0px 0px 5px 2px rgb(66, 142, 4);
}
